[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/blueyes27
[access "refs/for/refs/*"]
	read = group user/blueyes27
	push = group user/blueyes27
	label-Code-Review = -2..+2 group user/blueyes27
	label-Verified = -1..+1 group user/blueyes27
	rebase = group user/blueyes27
	removeReviewer = group user/blueyes27
	submit = group user/blueyes27
[access "refs/heads/*"]
	read = group user/blueyes27
	create = group user/blueyes27
	push = +force group user/blueyes27
	pushMerge = group user/blueyes27
[access "refs/tags/*"]
	push = +force group user/blueyes27
	pushTag = group user/blueyes27
	pushSignedTag = group user/blueyes27
